# Makefile requirements
autoflake
autopep8
coverage
isort

# pythonfile requirements
gdown==4.2.1
https://github.com/pbizopoulos/pyclientsideml/tarball/master/a6fa92122957c0ccfec6434388625e3827b757eb
matplotlib==3.5.1
nibabel==3.2.1
onnx-tf==1.9.0
requests==2.27.1
scikit-image==0.19.1
segmentation-models-pytorch==0.2.1
statsmodels==0.13.1
tensorflowjs==3.13.0
