.block {
	border-style: groove;
	float: left;
	height: 256px;
	position: relative;
	width: 256px;
}

.block-mask {
	left:0px;
	position:absolute;
	top:0px;
}

#inputDiv:hover {
	border-style: solid;
}
